<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>

        <div>
            <strong>{{ rangosays }}</strong><br><br>
            This tutorial has been put together by Kayleigh.
        </div>

        <div>
            <br>
            <a href="/rango/">Index</a><br><br>
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /><br />
            <img src="{{ MEDIA_URL}}cat.jpg" alt="Image of a munchkin cat" />
        </div>
    </body>

</html>
