{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div>
        <h1>About</h1>
        <div>
            This tutorial has been put together by Kayleigh Chisholm.
        </div>

        <div>
            <br>
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /><br/>
            <img src="{{ MEDIA_URL}}cat.jpg" style="width:500px;height:400px;" alt="Cat Burrito" />
        </div>
    </div>

    <p>visits: {{ visits }}</p>

{% endblock %}